html{
    scroll-behavior:smooth;
}
body{
    margin: 0px;
    padding: 0px;
    font-family: poppins;

}

header{
    display: flex;
    background-color: black;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 1;
}
#logos{
    display: flex;
    letter-spacing: 2px;
    color: white;
}

#side a{
    color:rgb(179, 179, 179);
    text-decoration: none;
    margin: 0.5rem;
    font-size:0.7rem;
    letter-spacing: 3px;
}
#side a:hover{
    color: white;
    transition: 0.5s;
}
#side{
    margin-top: 2.1rem;
}
section{
    background-image: url("bg.png");
    filter: brightness(70%);
    background-position:center;
	background-size:cover;
    background-repeat: no-repeat;
    height: 800px;
    text-align: center;
}

#heading1 h1{
    color: white;
    font-size: 4.5rem;
    letter-spacing: 2px;
}
#abc{
   margin-top: 8rem;
}
#ab{
    color:white;
    letter-spacing: 2px;
}

#regis{
    text-decoration: none;
    background-color: rgb(191, 191, 191);
    color: black;
    padding: 1rem;
    width: 5rem;
    letter-spacing: 2px;
}

#regis:hover{
    background-color:rgb(242, 242, 242);
    transition: .5s;
}

#button2{
    text-align: center;
    background-color:rgb(191, 191, 191) ;
    height: 20px;
    width: 20px;
    margin-left: 50%;
    transform: rotate(45deg);
    position: relative;
  animation-name: example;
  animation-duration:infinite;
}
#button2:hover{
    background-color:rgb(242, 242, 242);
    transition: .5s;
}
#do{
    color: black;
    text-decoration: none;
    transform: rotate(90deg);
}

main{
    margin-top: 8rem;
    font-size: 16px;
}

main h2{
    text-align: center;
    letter-spacing:3px;
}

.paras{
    margin-left: 4rem;
    margin: 2rem;
    margin-top: 7rem;
}

#h2-st{
    margin-top: 7rem;
    text-align: center;
    margin-bottom: 4rem;
    letter-spacing: 3px;
}

#upp , #down ,#next_upp, #next_down{
    text-align: center;
    display: flex;
    font-size: 15px;
    gap:10px;
    margin: 4rem;
}
#card1,#card3{
margin-top: 0.7rem;
}

#h2-nd{
    margin:0px;
    font-size: 18px;
    letter-spacing: 3px;
}

#next2{
    background-color: black;
    height: 26rem;
    color: white;
    display: flex;
}
#new{
    margin: 1rem;
    margin-top: 6.5rem;
}
#promo{
    width: 46rem;
    margin-top: -2rem;
    height: 28rem;
}
#h2-rd{
    font-size:20px;
    letter-spacing: 3px;
}
#new a{
    background-color:rgb(179, 179, 179);
    padding: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    color: black;
    letter-spacing: 2px;
    font-size: 13px;
    text-decoration: none;
}

#new a:hover{
    background-color:rgb(242, 242, 242);
    transition: 0.4s;
}

.para{
    margin: 3rem;
}

.h3_01{
    letter-spacing: 2px;
    font-size: 15px;
}

#next4{
    height: 20rem;
    width:100%;
    background-color:rgb(242, 242, 242);
    text-align: center;
}

#h2_4th{
    letter-spacing: 5px;
    font-size: 16px;
    padding-top: 4.5rem;
    padding-bottom: 1rem;
}

#entry{
    padding:0.8rem;
    padding-left: 5rem;
    padding-right: 5rem;
}

#next4 div label{
    color:white;
    padding-left: 3rem;
    padding-right: 3rem;
    padding:0.7rem ;
    letter-spacing: 3px;
    font-size: 16px;
}
#next4 div input{
    margin-left: 4rem;
}

#next4 div label:hover{
    background-color:rgb(115, 115, 115);
    transition: .4s;
}

#sect{
    display: flex;
    margin-left: 35%;
}

#sect p{
    margin-top: 0.2rem;
    letter-spacing:0.5px;
    font-size: 12px;
    color: rgb(179, 179, 179);
}

.details{
    display: flex;
}
.calls{
    letter-spacing: 2px;
    font-size: 13px;
    color:black;
}
.num{
    margin-top:-1rem;
    font-size: 13px;
}
#threes{
    margin-top: 0.7rem;
}
#contact{
    display: flex;
    margin: 5rem;
    gap:10rem;
    margin-left:22rem;
}
#two{
    margin-top:-0.5rem;
}
#three{
    margin-top: -1.1rem;
}